{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Leona Emmanuel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href="{% static 'polls/styles.css' %}">
</head>

<body>
    <div>
        <section class="home">
            <h1><a href="/index" id="name">Leona Emmanuel</a></h1>
        </section>
        <section class="home" id="home" style="font-weight: bold;">
            <span><a href="/index">Home</a></span>
            <span><a href="/about">About</a></span>
            <span><a href="/mtips">Tips</a></span>
            <span><a href="/hobbies">Hobbies</a></span>
            <span><a href="/contact">Contact</a></span>
        </section>
    </div>
    <div id="am">
        <h2>About Me</h2>
        <p>I am an Electronics and Communication Engineer working as a Software Developer at IO21.
            I have immense interest in AI and see myself innovating new concepts in the future.
            I am a new Mom with a 8 month old naughty son.
            I am a very organized person. I love to visit new places around the world.
        </p>
    </div>
</body>

</html>